.centralizado {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 91vh;
    background-color: #e9e9e9;
}

.calculadora {
    width: 317px;
    border-radius: .9rem;
}

html {
    height: 100vh;
}

.teclaCalculadora {
    padding: .375rem 0.89rem;
}